* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

@font-face {
    src: url(Documents/fonts/Poppins-ExtraBold.ttf);
    font-family: Poppins-ExtraBold;
}

.hero {
    height: 600px;
    width: 100%;
    background-image:url("../huddle-file/images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100%;
    background-color:  hsl(193, 100%, 96%);
}

nav {
    display: flex;
    justify-content:space-between;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.logo {
    width: 130px;
    height: 23px;
}
.button {
    border: 5px solid transparent;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px #fff, 0px 0px 15px #c5bebe;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    padding: 3px 26px ;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(1.2);
}

.community {
    max-width: 98%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
    padding-left: 30px;
    bottom: 450px;
}

.button2 {
    position: absolute;
    bottom: 90px;
    left: 41px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    text-align: center;
    font-size: 10px;
    font-weight: 30;
    border-radius: 30px;
    padding: 14px 50px;
    text-decoration: none;
}
.button2:hover {
    background-color: white;
    color: hsl(322, 100%, 66%);
    transform: scale(1.2);
    border: 1px solid hsl(322, 100%, 66%);;
}

.line {
    width: 50%;
}

.image {
    width: 600px;
    height: 400px;
}

h1 {
    font-family: arial;
    font-weight:bolder;
    font-size: 30px;
    color: hsl(192, 100%, 9%);
    position: absolute;
    top: 70px;
    line-height: 1.5em;
}

.line p {
    padding-top: 20px;
    line-height: 1.3em;
    font-size: 18px;
}

.second {
    display: flex;
    margin-bottom: -17.5%;
    flex-direction: column;
}
.box {
    position: relative;
    bottom: 300px;
}
.image1 {
    height: 300px;
    width: 400px;
}

.card {
    height: 400px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow:0px 0px 5px #c5bebe;
    margin-left: 65px;
    top: 90px;
    margin-bottom: 40px;
}
.line1 {
    width:35% ;
    color: hsl(192, 100%, 9%);
    font-size: 18px;
}

.line1 p {
    line-height: 25px;
    color:  hsl(208, 11%, 55%);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
}

.promo {
    box-shadow:0px 0px 5px #c5bebe;
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    position: relative;
    padding: 60px 0px;
    background-color: #fff;
    margin-bottom: -80px;
}

.promo h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(192, 100%, 9%);
    margin-bottom: 15px;
}

.btn {
    bottom: 90px;
    left: 35px;
    background-color: hsl(322, 100%, 66%);
    text-align: center;
    border-radius: 30px;
    padding: 16px 65px;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 15px #c5bebe;
    margin-top: 20px;
}
.btn:hover {
    background-color: white;
    transform: scale(1.2);
    border: 1px solid hsl(322, 100%, 66%);;
    color:hsl(322, 100%, 66%);
    cursor:progress;
}

footer {
    /*display: flex;*/
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 200px 100px 30px;
}

.footer-sec {
    display: flex;
    margin: 40px 0px;
}

ul {
    list-style-type: none;
}

.footer-logo {
    width: 180px;

}

.sec1 {
    min-width: 40%;
    width: 40%;
}

.add{
    display: flex;
    align-items: flex-start;
    
}
.add img {
    margin-top: 4px;
    margin-right: 15px;
}
li {
    margin-bottom: 20px;
    padding-right: 50px;
    opacity: 0.8;
}
.sec2, .sec3, .sec4 {
    width: 20%;
    margin-left: 30px;
}
 .sec4 {
    display: flex;
    
 }
.social {
    display: flex;
    text-decoration: none;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
}
.sec4 a {
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    display: inline-flex;
    margin-left: 9px;
}
    
.sec4 a:hover {   
    transform: scale(1.3);
    transition: .3s;
}
   
.copy {
    text-align:right;
    font-size: 10px;
    opacity: 0.8;
}